@media (max-width: 1100px) {
    /* Discover */
    .demographic-data,
    .upcoming-event,
    .calendar {
      width: 350px;
    }
    .attractions-container {
      transform: scaleX(0.9);
    }
    .attraction-card:hover {
      transform: none;
    }
  }
  
  @media (max-width: 900px) {
    header {
      justify-content: space-around;
    }
  
    /* Burger */
    #menu-button {
      display: block;
      position: absolute;
    }
    .main-nav {
      flex-direction: column;
    }
    .main-nav li a {
      display: block;
      padding: 0.5rem 2vw;
    }
    ul.main-nav {
      padding: 0px;
    }
    nav {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.5s ease-out;
    }
    nav ul {
      overflow: hidden;
    }
    nav.open {
      grid-template-rows: 1fr;
    }
  
    /* Events and Weather */
    .cards {
      display: block;
      gap: 1%;
      margin: 0 16px 0 16px;
    }
    .card {
      box-shadow: none;
      margin-bottom: 8px;
      border: 1px solid var(--card-border);
    }
    /* Business Members */
    .display-menu {
      display: none;
    }
    .grid,
    .list {
      display: grid;
      grid-template-columns: repeat(1, minmax(350px, 1fr));
    }
    .grid .member-card {
      box-shadow: none;
      border: 1px solid var(--card-border);
    }
  
    /* Join */
    .join-container {
      display: grid;
      margin: 16px 0;
    }
    .membership {
      animation: none;
    }
    .membership button {
      animation: none;
    }
    .form-section,
    .membership-section {
      padding: 0;
    }
    /* Discover */
    .main-discover {
      grid-template-columns: auto;
    }
    .demographic-data,
    .upcoming-event,
    .calendar {
      width: 70%;
    }
    
  
    /* Footer */
    footer {
      display: block;
    }
    .social {
      margin: 16px 0 16px 0;
    }
  }
  
  @media (max-width: 650px) {
    header {
      justify-content: center;
    }
    img.day-night {
      margin-left: 20px;
      transform: scale(0.5);
    }
    #menu-button {
      top: 1rem;
    }
  }